/* Login.css */


.vh-100 {
  height: 100vh; /* Couvre toute la hauteur de l'écran */
  background-image: url('../assets/background.jpg'); /* Chemin de l'image de fond */
  background-size: cover; /* L'image couvre toute la zone sans distorsion */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-size: 95% 95%;


}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1rem;
  color: #6c757d;
}

.alert {
  margin-bottom: 1rem;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px; /* Espacement entre le logo et le formulaire */
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.login-container {
  background-color: #f8f9fa;
}

.login-card {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
}

.login-logo {
  max-width: 100%;
  height: auto;
}

.login-button {
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .login-card {
    width: 100%;
  }
}